
/* --- Import --- */

@import url("reset.css");
@import url("carrousel.css");

/* --- Fonts --- */

/* Changa One */

@font-face {
    font-family: "Changa One";
    src: url('assets/fonts/Changa_One/ChangaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* jacques François */

@font-face {
    font-family: "Jacques Francois";
    src: url('assets/fonts/Jacques_Francois/Jacques_Francois.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* La Belle Aurore */

@font-face {
    font-family: "La Belle Aurore";
    src: url('assets/fonts/La_Belle_Aurore/LaBelleAurore-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Open Sans */

@font-face {
    font-family: "Open Sans";
    src: url('assets/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}



/* Family */

.u-font-open-sans {
    font-family: "Open Sans", sans-serif;
}

.u-font-changa-one {
    font-family: "Change One", sans-serif;
}

.u-font-jacques-francois {
    font-family: "Jacques Francois", sans-serif;
}

.u-font-belle-aurore {
    font-family: "La Belle Aurore", sans-serif;
}

/* Weight */

.u-font-300 {
    font-weight: 300;
}


/* --- Colors --- */

.u-color-white {
    color: white;
}

.u-color-black {
    color: black;
}

.u-bgcolor-black {
    background-color: black;
}

.u-bgcolor-blue-dark {
    background-color: #051528;
}

.u-bgcolor-red-dark {
    background-color: #251715;
}

.u-bgcolor-green {
    background-color: #142C08;
}

.u-bgcolor-grey {
    background-color: #1E1E1E;
}

/* General */

body {
    font-family: "Open Sans", sans-serif;
}

/* Composants */

footer {
    min-height: 335px;
}

Header {
    min-height: 130px;
}

.c-cover {}

.c-section {
    display: flex;
}

.c-section__content,
.c-section__images {
    flex: 1;
}

.c-section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

.c-section__content h2 {
    font-family: "Change One", sans-serif;
    font-size: 60px;
}

.c-section__content p {
    font-size: 26px;
}

.c-reassurance {
    margin: 0 auto;
    padding: 0 16px;
} 

.c-reassurance__content {
    max-width: 1127px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* Mobile first */

@media screen and (max-width: 960px) {
    footer {
        min-height: 335px;
    }

    Header {
        min-height: 130px;
    }
    
    .c-cover {}
    
    .c-reassurance {
        display: flex;
    }  
}



