/* --- Import --- */

@import url("reset.css");
@import url("carrousel.css");

/* --- Fonts --- */

/* Changa One */

@font-face {
    font-family: "Changa One";
    src: url('../fonts/Changa_One/ChangaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* jacques François */

@font-face {
    font-family: "Jacques Francois";
    src: url('../fonts/Jacques_Francois/JacquesFrancois-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* La Belle Aurore */

@font-face {
    font-family: "La Belle Aurore";
    src: url('../fonts/La_Belle_Aurore/LaBelleAurore-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Open Sans */

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open_Sans/subset-OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/subset-OpenSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}



/* Family */

.u-font-open-sans {
    font-family: "Open Sans", sans-serif;
}

.u-font-open-sans-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.u-font-changa-one {
    font-family: "Change One", sans-serif;
}

.u-font-jacques-francois {
    font-family: "Jacques Francois", serif;
}

.u-font-belle-aurore {
    font-family: "La Belle Aurore", sans-serif;
}

/* Weight */

.u-font-300 {
    font-weight: 300;
}


/* --- Colors --- */

.u-color-white {
    color: white;
}

.u-color-black {
    color: black;
}

.u-bgcolor-black {
    background-color: black;
}

.u-bgcolor-blue-dark {
    background-color: #051528;
}

.u-bgcolor-red-dark {
    background-color: #251715;
}

.u-bgcolor-green {
    background-color: #142C08;
}

.u-bgcolor-grey {
    background-color: #1E1E1E;
}

.u-bgcolor-brown {
    background-color:  #251815;
} 

/* General */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    line-height: 56px;
}

nav li {
    font-family: "Jacques Francois", serif;
}

a {
    color: #F2F2F2;
    text-decoration: none;
}

h1,
h2 {
    font-family: "Changa One", sans-serif;
    font-size: 54px;
    line-height: 70px;
    color: #F2F2F2;

}

.logo {
    width: 300px;
}

/* Composants */


footer {
    background-color: black;
    min-height: 335px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 4.8rem 2.4rem;
    color: #F2F2F2;
}

header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 60px 0 60px;
}

header nav ul {
    display: flex;
    gap: 24px;
}

.c-cover {
    position: relative;
    margin-top: -175px;
    max-height: calc(100vh + 175px);
    display: flex;
}

.c-cover::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.c-cover__title {
    position: absolute;
}

.c-cover__carrousel picture {
    width: 100%;
    height: 100%;
    display: flex;
}

.c-cover__carrousel picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.c-section {
    display: flex;
}

.c-section__images {
    width: 50%;
    max-height: 1080px;
}

.c-section__images picture {
    width: 100%;
    height: 100%;
    display: flex;
}

.c-section__images picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.c-section__content {
    width: calc(50% - 32px);
}

.c-section__content div {
    max-width: 594px;
    width: 100%;
}

.c-section__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
}

.c-section__content p {
    font-size: 26px;
}

.c-reassurance {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 335px;
}

.c-reassurance__content {
    max-width: 1127px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.acces {
    background-color: #1E1E1E;
}

.nous-contacter {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #F2F2F2;
    font-size: 26px;
    font-weight: 300;
}

.nous-contacter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.nous-contacter-btn a {
    background-color: #fff;
    color: #000;
    padding: 16px 32px;
    font-size: 26px;
    line-height: 56px;
    font-weight: normal;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.services table td {
    padding-right: 3rem;
}

.c-cover__moment {
    width: 100%;
    height: 100%;
}

.c-cover__moment picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
}


.c-gallerie-section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.c-gallerie-section_content {
    padding: 16px;
}

.c-gallerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.c-gallerie picture {
    width: 100%;
    height: 100%;
}

.c-gallerie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mobile first */

@media screen and (max-width: 60rem) {
    .c-section {
        flex-direction: column;
    }

    .c-section__images {
        width: 100%;
    }
    .c-section__content {
        width: calc(100% - 32px);
    }

    header {
        flex-direction: column;
        padding: 45px 16px 0 16px;
    }

    header nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .c-cover {
        margin-top: -250px;
        max-height: calc(100vh + 250px);
    }
}

@media screen and (min-width: 60rem) {
    .nous-contacter {
        flex-direction: row;
        justify-content: space-between;
    }

    .nous-contacter-btn {
        width: 48%;
        margin-top: 0;
    }
    .services {
        width: 48%;
        align-items: flex-start;
    }
}


@media screen and (max-width: 960px) {
    footer {
        min-height: 335px;
    }

    header {
        min-height: 130px;
    }

    .c-cover {}

    .c-reassurance {
        display: flex;
    }
}